# Listado de Archivos y Carpetas a ignorar

# - - - - - ARCHIVOS - - - - - - - 
test.py
pdf_test.py
extensions.json
.vscode
*.mod
varios.txt
# - - - - - CARPETAS - - - - - - - 
varios
test
csv
dbf - ntx
xlsx