{% include 'header.html' %}

    <div>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>Leg</th>
                    <th>Foto</th>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                    <tr>
                        <td>{{empleado[0]}}</td>
                        <td><img src="uploads/{{empleado[1]}}" alt="" class="img-thum" width = "80"></td>
                        <td>{{empleado[3]}}</td>
                        <td>{{empleado[4]}}</td>
                        <td>
                            <a class="btn btn-success" href="/edit/{{empleado[0]}}">Ver</a>
                            <a class="btn btn-warning" href="/edit/{{empleado[0]}}">Editar</a>
                            <a class="btn btn-danger" href="/destroy/{{empleado[0]}}">Borrar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                </tr>
            </tfoot>
        </table>
    </div>

{% include 'footer.html' %}